<?xml version="1.0" encoding="UTF-8"?>
<!-- 타입 별명 사용하기 + result map 사용하기 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="servlets.step07.ScoreDao">
  <select id="list" resultType="score">
    select sno as no, name, kor, eng, math 
    from scores 
    order by sno desc
  </select>
  
  <select id="selectOne" parameterType="int" resultType="score">
    select sno as no, name, kor, eng, math 
    from scores
    where sno=#{value} 
  </select>
  
  <insert id="insert" parameterType="score"
      useGeneratedKeys="true" keyColumn="sno" keyProperty="no">
    insert into scores (name, kor, eng, math)
    values(#{name}, #{kor}, #{eng}, #{math})
  </insert>
  
  <delete id="delete" parameterType="int">
    delete from scores where sno=#{okok}
  </delete>
  
  <update id="update" parameterType="score">
    update scores set 
      name=#{name}, kor=#{kor}, eng=#{eng}, math=#{math} 
    where sno=#{no}
  </update>    
</mapper>











